<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Arpit Batra" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/homepage.css" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>

    <div class="container">
      <center>

        <div>
	        <a title="250KB Club page" href="https://250kb.club/theobori-cafe">
            <img
              alt="a proud member of the 250KB Club"
              src="/88x31_bright.png"
            >
          </a>
          <a href="https://512kb.club">
            <img src="/orange-team.gif" alt="a proud member of the orange team of 512KB club"/>
          </a>
           <map name="noaimini14">
            <area href="https://baccyflap.com/noai" shape="rect" coords="21,0,47,30" target="_blank" alt="no ai webring" title="no ai webring">
            <area href="https://baccyflap.com/noai/?prv&s=tbc" target="_top" shape="rect" coords="1,13,19,29" alt="previous" title="previous">
            <area href="https://baccyflap.com/noai/?rnd" target="_top" shape="rect" coords="59,7,66,16" alt="random" title="random">
            <area href="https://baccyflap.com/noai/?nxt&s=tbc" target="_top" shape="rect" coords="68,1,86,17" alt="next" title="next">
          </map>
          <img usemap="#noaimini14" style="filter:hue-rotate(180deg) contrast(250%) brightness(250%)" src="/miniwidget14.gif" alt="a redblack rectangle showing the words the NO AI webring, with NO AI being written by a fountain pen, all in the style of 16 bit Windows 95 icons. to either side are two equally Windows-95-style cursors pointing left and right, softly bouncing up and down. in between it all is a small black question mark">
          <map name="hacker-webring">
            <area href="https://ring.acab.dev/prev/lU5IzMLPLP" target="_top" shape="rect" coords="1,1,29,31" alt="previous" title="previous">
            <area href="https://ring.acab.dev" target="_top" shape="rect" coords="30,0,60,31" alt="webring" title="hacker webring">
            <area href="https://ring.acab.dev/next/lU5IzMLPLP" target="_top" shape="rect" coords="61,0,88,31" alt="next" title="next">
          </map>
          <img usemap="#hacker-webring" src="/hacker-webring.png" alt="hacker webring">
          <img src="/built-with-eleventy.gif" alt="built with eleventy">
          <img src="/cookie-free.png" alt="cookie free">
        </div>
    </center>
    </div>
  </body>
</html>