<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta name="Description" content="Arpit Batra" />
    <title>{{ title }}</title>
    <link rel="stylesheet" href="./styles/homepage.css" />
    <link rel="alternate" href="/feed.xml" type="application/atom+xml" title="{{ siteMeta.author.name }}" />
  </head>
  <body>
    <div class="container">
      {{ content }}
    </div>
    
    <div class="container">
      <center>
      
        <div>
          <a href="https://512kb.club">
            <img
              src="https://512kb.club/assets/images/green-team.svg"
              alt="a proud member of the green team of 512KB club"
              height="20px"
            />
          </a>
        {% comment %} </div> {% endcomment %}

        {% comment %} <div> {% endcomment %}
            <a title="250KB Club page" href="https://250kb.club/theobori-cafe">
            <img
              alt="badge: proud member of the 250KB Club"
              src="https://250kb.club/simple_badge_bright.png"
              height="20px"
            />
          </a>
        </div>
        
        <div>
          <a href="https://www.cutercounter.com/" target="_blank">
            <img
              src="https://www.cutercounter.com/hits.php?id=hrxoaqoa&nd=1&style=1"
              border="0"
              alt="visitor counter"
              height="12px"
            />
          </a>
        </div>
      
    </center>
    </div>
  </body>
</html>
